body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Times New Roman;
}

header {
    font-family: Tahoma;
    background-color: #6A5975;
    color: #E2DBD4;    
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #E2DBD4;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}

.Main-Layout {
    display: flex;
}

div {
	align-items : center; 
    	text-align: center;
    	display: flex;
    	flex-direction: column;
    	border: 0.5rem outset #6A5975;
    	padding: 20px;
    	width: 100%;
	background-color : white;
}

article {
    text-align: center;
    flex: 1;
    padding: 20px;
    margin: 5px;
}

aside {
    	width: 50%;
    	border: 1px solid black;
    	background-color: #E2DBD4;
   	padding: 20px;
    	margin: 5px;
	text-align : justify;
}
#div1{
	width : 50% ;
	border: 1px solid black;
	background-color:lightgreen;
}
#div2 {
	position : static;
	width : 50% ; 
	border: 1px solid black;
	background-color: #C9A9A6;
}
#div3{
	width : 50% ;
	border: 1px solid black;
	background-color:lightgreen;
}
#div4 {
	position : relative;
	top: 15px;
	left : 20px;
	width : 50% ; 
	border: 1px solid black;
	background-color: #C9A9A6;
}
#div5{
	width : 50% ;
	border: 1px solid black;
	background-color:lightgreen;
}
#div6 {
	position : absolute;
	width : 50% ; 
	border: 1px solid black;
	background-color: #C9A9A6;
}
#container {
	background-color: #B6C7D6;
  	width: 150px;
  	height: 200px;
  	position: relative;
	border: 1px solid black;
}
#ScrollContainer {
	border: 1px solid black;
	max-height: 100px;
	width : 90%;
	overflow: auto;}
#div9{
	width : 50% ;
	border: 1px solid black;
	background-color:lightgreen;
}
#div10 {
	position: sticky;
  	position: -webkit-sticky;
  	top: 0px;
	width : 50% ; 
	border: 1px solid black;
	background-color: #C9A9A6;
}
#div11{
	width : 50% ;
	border: 1px solid black;
	background-color:pink;
}
#div12{
	width : 50% ;
	border: 1px solid black;
	background-color:#bec8f4;
}
#div13{
	width : 50% ;
	border: 1px solid black;
	background-color:#e66b6b;
}
.generic { background-color: lightgray; }
video {
	border: 1px solid black;
	width : 99%;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .Main-Layout {
        flex-direction: column;  
    }

    article, aside {
        width: 100%;
    }
}
